<% include ./partials/header %>


<h1>This is the home page</h1>
  <button type="button" class="btn btn-default">Left</button>
  <p>Maybe a sidebar with info...??? </p>


<% include ./partials/footer%>