<% include ./partials/header%>

<h1>You have arrived to the secret membership page</h1>

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To The Group!</h1>
             <p>Get to know the other members from all over the world</p>
             <p>
               <!--  <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New User</a> -->
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% users.forEach(function(user){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src=<%= "https://engineering.unl.edu/images/staff/Kayla_Person-small.jpg" %>>
                   <div class="caption">
                       <h4><%= user.name %> + " - " <%= user.email %></h4>
                   </div>
                   <p>
<!--                     not sure about line below
 -->
 a href="/users/<%= user._id %>" class="btn btn-primary"> More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ./partials/footer %>

